<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status_category.name %>
</p>

<%= link_to 'Edit', edit_status_category_path(@status_category) %> |
<%= link_to 'Back', status_categories_path %>
