<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status_catgeory.name %>
</p>

<%= link_to 'Edit', edit_status_catgeory_path(@status_catgeory) %> |
<%= link_to 'Back', status_catgeories_path %>
